.slideshow.l--container.l--padding-bottom-xl
	.slideshow--image
		img(src='https://si.wsj.net/public/resources/images/BN-XD269_MARKET_1000V_20180123174339.jpg', alt='')
		.slideshow--image-caption.t--size-s.l--margin-top-m.t--color-nickel
	.slideshow--items
		.slideshow--top
			.slideshow--items-main
			.slideshow--items-secondary
		.slideshow--bottom
			+card('small', 'horizontal', 'right')(
				flashline='Design',
				title='Why You’ll Want to Visit Rotterdam in 2018',
				summary='The Netherlands’ “second city” is attracting a fleet of designers, artists and architects who are reshaping the Dutch city into an epicenter of urban innovation.',
				image='images/5.jpg'
			)
			+card('small', 'horizontal', 'right')(
				flashline='Style',
				title='This Season\'s Artisanal Style for Men',
				summary='Fashion takes a craftsman style approach with intricate knitwear, fresh patterns and patchwork.',
				image='images/4.jpg'
			)
